# import libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# load dataset

In [3]:
df_phishing = pd.read_csv('phishing_urls.csv')
df_benign = pd.read_csv('benign_urls.csv')

In [4]:
df_phishing['label'] = 1
df_benign['label'] = 0

# perform EDA

In [5]:
df_benign.head()

   Unnamed: 0                        url        Type  label
0           0     https://www.google.com  legitimate      0
1           1    https://www.youtube.com  legitimate      0
2           2   https://www.facebook.com  legitimate      0
3           3      https://www.baidu.com  legitimate      0
4           4  https://www.wikipedia.org  legitimate      0

In [6]:
df_benign.shape

(345737, 4)

In [7]:
df_benign.columns

Index(['Unnamed: 0', 'url', 'Type', 'label'], dtype='object')

In [8]:
df_benign.isna().sum()

Unnamed: 0    0
url           0
Type          0
label         0
dtype: int64

In [9]:
df_benign.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345737 entries, 0 to 345736
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  345737 non-null  int64
 1   url         345737 non-null  object
 2   Type        345737 non-null  object
 3   label       345737 non-null  int64
dtypes: int64(2), object(2)
memory usage: 10.6+ MB

In [10]:
df_benign['url']

0                      https://www.google.com
1                     https://www.youtube.com
2                    https://www.facebook.com
3                       https://www.baidu.com
4                   https://www.wikipedia.org
                         ...
345732    https://koreantaekwondo.tripod.com/
345733       https://taekwondo.wisebytes.net/
345734           https://www.steveconway.net/
345735                   https://www.tkd.net/
345736        https://www.taekwondobible.com/
Name: url, Length: 345737, dtype: object

In [11]:
df_benign.duplicated().sum()

0

In [12]:
df_phishing.head()

,Unnamed: 0,url,Type,label
0,0,https://docs.google.com/presentation/d/e/2PACX...,phishing,1
1,1,https://btttelecommunniccatiion.weeblysite.com/,phishing,1
2,2,https://kq0hgp.webwave.dev/,phishing,1
3,3,https://brittishtele1bt-69836.getresponsesite....,phishing,1
4,4,https://bt-internet-105056.weeblysite.com/,phishing,1

In [13]:
df_phishing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159245 entries, 0 to 159244
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  159245 non-null  int64
 1   url         159245 non-null  object
 2   Type        159245 non-null  object
 3   label       159245 non-null  int64
dtypes: int64(2), object(2)
memory usage: 4.9+ MB

In [14]:
df_phishing.isna().sum()

Unnamed: 0    0
url           0
Type          0
label         0
dtype: int64

In [15]:
df_phishing.columns

Index(['Unnamed: 0', 'url', 'Type', 'label'], dtype='object')

In [16]:
df_phishing.shape

(159245, 4)

In [17]:
df_phishing.duplicated().sum()

0

# concat both dataframes

In [18]:
df = pd.concat([df_phishing, df_benign], ignore_index=True)

In [19]:
df['label'].value_counts()

label
0    345737
1    159245
Name: count, dtype: int64

In [20]:
df.to_csv('combined_data.csv')